resources:
- type: compute.v1.instance
  name: eve-ng
  properties:
    zone: {{ properties["zone"] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/n1-standard-16
    # IP Forwading enable 'true or false" See API doc for more information
    canIpForward: true
    # For examples on how to use startup scripts on an instance, see:
    #   https://cloud.google.com/compute/docs/startupscript
    tags:
      items:
      - eve-ng
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        diskName: disk-{{ env["deployment"] }}
        diskSizeGb: 10
        sourceImage: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/images/nested-ubuntu-xenial
        diskType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/diskTypes/pd-ssd
    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
      # Access Config required to give the instance a public IP address
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
      aliasIpRanges:
      - ipCidrRange: 172.17.0.0/24
        subnetworkRangeName: eve-ng-subnet-secondary
    serviceAccounts:
    - email: default
      scopes:
      - https://www.googleapis.com/auth/devstorage.read_only
    metadata:
      items:
      - key: serial-port-enable
        value: TRUE
      - key: ssh-keys
        value: <PLACE YOUR KEY HERE>
- name: default-allow-http
  type: compute.v1.firewall
  properties:
    sourceRanges: ["0.0.0.0/0"]
    targetTags: ["eve-ng"]
    allowed:
    - IPProtocol: TCP
      ports: ["80"]
- name: eve-ng-ingress
  type: compute.v1.firewall
  properties:
    sourceRanges: ["0.0.0.0/0"]
    targetTags: ["eve-ng"]
    allowed:
    - IPProtocol: TCP
      ports: ["0-65535"]
    direction: INGRESS
- name: eve-ng-egress
  type: compute.v1.firewall
  properties:
    destinationRanges: ["0.0.0.0/0"]
    targetTags: ["eve-ng"]
    allowed:
    - IPProtocol: TCP
      ports: ["0-65535"]
    direction: EGRESS